.pet {
  display: inline-block;
  padding: 1rem;
  border: .3rem solid darkcyan;
  border-radius: .25rem;
  margin-right: 20px;
}

.pet > h3 {
  font-size: 1.5rem;
  margin: .25rem 0;
}

.pet > p {
  font-size: 1rem;
  margin: .25rem 0;
}

.pet > img {
  max-width: 210px;
}

@media screen and (min-width: 481px){
  .pet > img {
    max-height: 200px;
  }
  .pet > h3 {
    font-size: 2rem;
    margin: .25rem 0;
  }
}



